In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/project2_dataset.csv')

In [59]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TrafficType_14,TrafficType_15,TrafficType_16,TrafficType_17,TrafficType_18,TrafficType_19,TrafficType_20,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,0.0,0.0,0.0,0.0,0.001418,0.000000,1.00,1.00,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
1,0.0,0.0,0.0,0.0,0.002837,0.001000,0.00,0.50,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
2,0.0,0.0,0.0,0.0,0.001418,0.000000,1.00,1.00,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
3,0.0,0.0,0.0,0.0,0.002837,0.000042,0.25,0.70,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True
4,0.0,0.0,0.0,0.0,0.014184,0.009809,0.10,0.25,0.0,0.0,...,False,False,False,False,False,False,False,False,False,True

In [4]:
df.drop(columns=['Month', 'Browser', 'OperatingSystems'], inplace=True)

In [5]:
cols = df.columns[df.dtypes == 'bool']
df[cols] = df[cols].astype(int)

In [6]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,1,1,Returning_Visitor,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,1,2,Returning_Visitor,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,9,3,Returning_Visitor,0,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,4,Returning_Visitor,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,1,4,Returning_Visitor,1,0

In [7]:
df = pd.get_dummies(df, columns=['Region', 'TrafficType', 'VisitorType'])

In [8]:
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Weekend,Revenue
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503569,34.472398,31.731468,1194.746220,0.022191,0.043073,5.889258,0.061427,0.232603,0.154745
std,3.321784,176.779107,1.270156,140.749294,44.475503,1913.669288,0.048488,0.048597,18.568437,0.198917,0.422509,0.361676
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,0.000000,0.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,0.000000,0.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157214,0.016813,0.050000,0.000000,0.000000,0.000000,0.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,1.000000,1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 44 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Administrative                 12330 non-null  int64
 1   Administrative_Duration        12330 non-null  float64
 2   Informational                  12330 non-null  int64
 3   Informational_Duration         12330 non-null  float64
 4   ProductRelated                 12330 non-null  int64
 5   ProductRelated_Duration        12330 non-null  float64
 6   BounceRates                    12330 non-null  float64
 7   ExitRates                      12330 non-null  float64
 8   PageValues                     12330 non-null  float64
 9   SpecialDay                     12330 non-null  float64
 10  Weekend                        12330 non-null  int32
 11  Revenue                        12330 non-null  int32
 12  Region_1                       12330 non-null  bool
 13  Region_2                       12330 non-null  bool
 14  Region_3                       12330 non-null  bool
 15  Region_4                       12330 non-null  bool
 16  Region_5                       12330 non-null  bool
 17  Region_6                       12330 non-null  bool
 18  Region_7                       12330 non-null  bool
 19  Region_8                       12330 non-null  bool
 20  Region_9                       12330 non-null  bool
 21  TrafficType_1                  12330 non-null  bool
 22  TrafficType_2                  12330 non-null  bool
 23  TrafficType_3                  12330 non-null  bool
 24  TrafficType_4                  12330 non-null  bool
 25  TrafficType_5                  12330 non-null  bool
 26  TrafficType_6                  12330 non-null  bool
 27  TrafficType_7                  12330 non-null  bool
 28  TrafficType_8                  12330 non-null  bool
 29  TrafficType_9                  12330 non-null  bool
 30  TrafficType_10                 12330 non-null  bool
 31  TrafficType_11                 12330 non-null  bool
 32  TrafficType_12                 12330 non-null  bool
 33  TrafficType_13                 12330 non-null  bool
 34  TrafficType_14                 12330 non-null  bool
 35  TrafficType_15                 12330 non-null  bool
 36  TrafficType_16                 12330 non-null  bool
 37  TrafficType_17                 12330 non-null  bool
 38  TrafficType_18                 12330 non-null  bool
 39  TrafficType_19                 12330 non-null  bool
 40  TrafficType_20                 12330 non-null  bool
 41  VisitorType_New_Visitor        12330 non-null  bool
 42  VisitorType_Other              12330 non-null  bool
 43  VisitorType_Returning_Visitor  12330 non-null  bool
dtypes: bool(32), float64(7), int32(2), int64(3)
memory usage: 1.4 MB

In [64]:
from sklearn.preprocessing import MinMaxScaler

min_max = MinMaxScaler()
scaling_columns = df.columns[(df.dtypes == 'int64') | (df.dtypes == 'float64')]
min_max = min_max.fit(df[scaling_columns])
df[scaling_columns] = min_max.transform(df[scaling_columns])

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Weekend,Revenue
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,0.085747,0.023779,0.020982,0.013522,0.045009,0.018676,0.110957,0.215364,0.016279,0.061427,0.232603,0.154745
std,0.123029,0.052013,0.052923,0.055209,0.063086,0.029913,0.242442,0.242983,0.051328,0.198917,0.422509,0.361676
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.009929,0.002878,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000
50%,0.037037,0.002207,0.000000,0.000000,0.025532,0.009362,0.015562,0.125782,0.000000,0.000000,0.000000,0.000000
75%,0.148148,0.027438,0.000000,0.000000,0.053901,0.022887,0.084063,0.250000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000